<HTML><HEAD><LINK TYPE="text/css" REL="stylesheet" HREF="../../daq/runSummary/style.css"/></HEAD>
<table align='center' border='0' cellpadding='10'><tr><td><A HREF='http://cms.cern.ch/'><IMG style='border:none' width='50' height='50' SRC='../../images/CMS-100.gif'></A></td> <td style='font-weight:bold;font-family:sans-serif;color:#4499aa;font-size:200%'><A HREF=RunSummary>Run Summary</A></td> <td><A HREF=/><IMG style='border:none' width='50' height='50' SRC='../../images/WBM_4C_100.jpg' onMouseOver=this.src='../../images/WBM_4C_100_yellow.jpg' onMouseOut=this.src='../../images/WBM_4C_100.jpg'></A></td> </tr></table>
<I>All times are in UTC</I>
<TABLE CLASS="params"><THEAD><TR>
<TH>RUN</TH>
<TH>LUMI_NB_LIVE_DELIV</TH>
<TH>SEQUENCE</TH>
<TH>TRIGGER_MODE</TH>
<TH>L1_KEY</TH>
<TH>HLT_KEY</TH>
<TH>STARTTIME</TH>
<TH>STOPTIME</TH>
<TH>TRIGGERS</TH>
<TH>BFIELD</TH>
<TH>TIER0</TH>
<TH>COMPONENTS</TH>
</TR><THEAD><TBODY STYLE="height:100%;width:100%;">
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234201&DB=default>234201</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234201&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234201&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.13 08:38:20&nbsp;</TD>
<TD>2015.02.13 08:47:48&nbsp;</TD>
<TD ALIGN=RIGHT>140217&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL ES RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234200&DB=default>234200</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234200&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234200&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.13 08:29:54&nbsp;</TD>
<TD>2015.02.13 08:31:50&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL ES RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234199&DB=default>234199</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234199&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234199&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.13 07:55:19&nbsp;</TD>
<TD>2015.02.13 08:25:26&nbsp;</TD>
<TD ALIGN=RIGHT>231397&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234198&DB=default>234198</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234198&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234198&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.13 07:51:37&nbsp;</TD>
<TD>2015.02.13 07:52:34&nbsp;</TD>
<TD ALIGN=RIGHT>1062&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234195&DB=default>234195</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234195&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234195&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.13 03:18:20&nbsp;</TD>
<TD>2015.02.13 07:21:51&nbsp;</TD>
<TD ALIGN=RIGHT>3581613&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL PIXEL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234193&DB=default>234193</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234193&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234193&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:59:14&nbsp;</TD>
<TD>2015.02.13 03:00:07&nbsp;</TD>
<TD ALIGN=RIGHT>7734148&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234192&DB=default>234192</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234192&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234192&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:52:36&nbsp;</TD>
<TD>2015.02.12 19:54:13&nbsp;</TD>
<TD ALIGN=RIGHT>18504&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234191&DB=default>234191</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234191&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234191&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:46:40&nbsp;</TD>
<TD>2015.02.12 19:48:00&nbsp;</TD>
<TD ALIGN=RIGHT>90140&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234190&DB=default>234190</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234190&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234190&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:41:47&nbsp;</TD>
<TD>2015.02.12 19:43:03&nbsp;</TD>
<TD ALIGN=RIGHT>19215&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234189&DB=default>234189</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234189&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234189&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:38:45&nbsp;</TD>
<TD>2015.02.12 19:40:44&nbsp;</TD>
<TD ALIGN=RIGHT>19536&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234188&DB=default>234188</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234188&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234188&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:34:53&nbsp;</TD>
<TD>2015.02.12 19:35:31&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL ES HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234187&DB=default>234187</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234187&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234187&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:28:07&nbsp;</TD>
<TD>2015.02.12 19:30:44&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL ES HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234186&DB=default>234186</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v20>l1_hlt_cosmicstest/v20</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234186&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234186&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:18:24&nbsp;</TD>
<TD>2015.02.12 19:20:41&nbsp;</TD>
<TD ALIGN=RIGHT>36296&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234184&DB=default>234184</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234184&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234184&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:09:42&nbsp;</TD>
<TD>2015.02.12 19:12:22&nbsp;</TD>
<TD ALIGN=RIGHT>136091&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234180&DB=default>234180</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234180&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234180&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 19:03:56&nbsp;</TD>
<TD>2015.02.12 19:06:38&nbsp;</TD>
<TD ALIGN=RIGHT>88486&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234178&DB=default>234178</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234178&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234178&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 18:54:31&nbsp;</TD>
<TD>2015.02.12 18:56:40&nbsp;</TD>
<TD ALIGN=RIGHT>15039&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234176&DB=default>234176</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234176&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234176&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 18:48:03&nbsp;</TD>
<TD>2015.02.12 18:50:31&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234174&DB=default>234174</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234174&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234174&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 18:43:18&nbsp;</TD>
<TD>2015.02.12 18:44:35&nbsp;</TD>
<TD ALIGN=RIGHT>7402&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234173&DB=default>234173</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234173&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234173&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 18:37:27&nbsp;</TD>
<TD>2015.02.12 18:40:03&nbsp;</TD>
<TD ALIGN=RIGHT>87084&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234171&DB=default>234171</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234171&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234171&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 18:33:45&nbsp;</TD>
<TD>2015.02.12 18:35:38&nbsp;</TD>
<TD ALIGN=RIGHT>7883&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL HFLUMI PIXEL SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234158&DB=default>234158</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234158&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234158&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 15:41:20&nbsp;</TD>
<TD>2015.02.12 16:17:01&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234157&DB=default>234157</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234157&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234157&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 15:36:29&nbsp;</TD>
<TD>2015.02.12 15:37:01&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234139&DB=default>234139</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234139&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234139&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 14:14:33&nbsp;</TD>
<TD>2015.02.12 14:55:29&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234138&DB=default>234138</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234138&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234138&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 14:10:54&nbsp;</TD>
<TD>2015.02.12 14:11:25&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234137&DB=default>234137</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234137&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234137&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 14:07:22&nbsp;</TD>
<TD>2015.02.12 14:08:50&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234136&DB=default>234136</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234136&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234136&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 14:03:43&nbsp;</TD>
<TD>2015.02.12 14:04:00&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234135&DB=default>234135</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234135&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234135&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 13:55:34&nbsp;</TD>
<TD>2015.02.12 13:56:45&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234133&DB=default>234133</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234133&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234133&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 13:39:44&nbsp;</TD>
<TD>2015.02.12 13:52:07&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234132&DB=default>234132</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234132&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234132&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 13:36:30&nbsp;</TD>
<TD>2015.02.12 13:37:49&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234131&DB=default>234131</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234131&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234131&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 13:34:52&nbsp;</TD>
<TD>2015.02.12 14:24:13&nbsp;</TD>
<TD ALIGN=RIGHT>282338&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234129&DB=default>234129</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234129&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234129&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 13:31:25&nbsp;</TD>
<TD>2015.02.12 13:32:04&nbsp;</TD>
<TD ALIGN=RIGHT>1160&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234127&DB=default>234127</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234127&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234127&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 13:26:43&nbsp;</TD>
<TD>2015.02.12 13:30:51&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234124&DB=default>234124</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234124&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234124&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 13:06:04&nbsp;</TD>
<TD>2015.02.12 13:14:26&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234116&DB=default>234116</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234116&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234116&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 12:52:01&nbsp;</TD>
<TD>2015.02.12 13:02:35&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234114&DB=default>234114</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234114&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234114&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 12:44:03&nbsp;</TD>
<TD>2015.02.12 13:26:22&nbsp;</TD>
<TD ALIGN=RIGHT>323755&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234113&DB=default>234113</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234113&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234113&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 12:39:16&nbsp;</TD>
<TD>2015.02.12 12:41:54&nbsp;</TD>
<TD ALIGN=RIGHT>17279&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234111&DB=default>234111</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>PRIVATE-GLOBAL-CALO ecalpro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=MANUAL>MANUAL</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234111&KEY=null>null</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234111&NAME=/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4>/minidaq/EcalCalibration/v6.0/EcalCalibration_MiniDAQ/V4</A>&nbsp;</TD>
<TD>2015.02.12 12:34:40&nbsp;</TD>
<TD>2015.02.12 12:44:46&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>0&nbsp;</TD>
<TD>DAQ ES TCDS&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234110&DB=default>234110</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234110&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234110&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 12:33:23&nbsp;</TD>
<TD>2015.02.12 12:35:08&nbsp;</TD>
<TD ALIGN=RIGHT>9413&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234109&DB=default>234109</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234109&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234109&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 12:17:07&nbsp;</TD>
<TD>2015.02.12 12:27:05&nbsp;</TD>
<TD ALIGN=RIGHT>377723555&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234108&DB=default>234108</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234108&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234108&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:48:57&nbsp;</TD>
<TD>2015.02.12 12:14:45&nbsp;</TD>
<TD ALIGN=RIGHT>394361&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234107&DB=default>234107</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234107&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234107&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:42:43&nbsp;</TD>
<TD>2015.02.12 11:46:33&nbsp;</TD>
<TD ALIGN=RIGHT>313614&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234106&DB=default>234106</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234106&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234106&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:38:24&nbsp;</TD>
<TD>2015.02.12 11:40:10&nbsp;</TD>
<TD ALIGN=RIGHT>9396&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234104&DB=default>234104</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234104&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234104&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:26:35&nbsp;</TD>
<TD>2015.02.12 11:32:55&nbsp;</TD>
<TD ALIGN=RIGHT>215235858&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT ECAL RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234098&DB=default>234098</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234098&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234098&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:07:40&nbsp;</TD>
<TD>2015.02.12 11:21:32&nbsp;</TD>
<TD ALIGN=RIGHT>82134&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234097&DB=default>234097</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234097&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234097&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 11:03:38&nbsp;</TD>
<TD>2015.02.12 11:04:41&nbsp;</TD>
<TD ALIGN=RIGHT>null&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234095&DB=default>234095</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234095&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234095&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 10:59:42&nbsp;</TD>
<TD>2015.02.12 11:01:41&nbsp;</TD>
<TD ALIGN=RIGHT>13480&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234091&DB=default>234091</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234091&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234091&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 10:48:21&nbsp;</TD>
<TD>2015.02.12 10:55:33&nbsp;</TD>
<TD ALIGN=RIGHT>134399&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234068&DB=default>234068</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmics/v510>l1_hlt_cosmics/v510</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234068&KEY=TSC_20150212_003138_cosmics_BASE>TSC_20150212_003138_cosmics_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234068&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 10:12:23&nbsp;</TD>
<TD>2015.02.12 10:46:25&nbsp;</TD>
<TD ALIGN=RIGHT>562854&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT RPC SCAL TCDS TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234052&DB=default>234052</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234052&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234052&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:45:07&nbsp;</TD>
<TD>2015.02.12 09:55:10&nbsp;</TD>
<TD ALIGN=RIGHT>71325&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT RPC TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234051&DB=default>234051</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234051&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234051&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:41:07&nbsp;</TD>
<TD>2015.02.12 09:44:01&nbsp;</TD>
<TD ALIGN=RIGHT>15972&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT RPC TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234047&DB=default>234047</A>&nbsp;</TD>
<TD>         0.000000          0.000000&nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234047&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234047&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:35:50&nbsp;</TD>
<TD>2015.02.12 09:39:39&nbsp;</TD>
<TD ALIGN=RIGHT>23709&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT RPC TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234045&DB=default>234045</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234045&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234045&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:25:39&nbsp;</TD>
<TD>2015.02.12 09:28:17&nbsp;</TD>
<TD ALIGN=RIGHT>45212&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234044&DB=default>234044</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234044&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234044&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:19:13&nbsp;</TD>
<TD>2015.02.12 09:22:42&nbsp;</TD>
<TD ALIGN=RIGHT>56251&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234043&DB=default>234043</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v19>l1_hlt_cosmicstest/v19</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234043&KEY=TSC_20150212_003136_TEST_BASE>TSC_20150212_003136_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234043&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V3</A>&nbsp;</TD>
<TD>2015.02.12 09:17:11&nbsp;</TD>
<TD>2015.02.12 09:18:16&nbsp;</TD>
<TD ALIGN=RIGHT>747&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>CSC DAQ DT HCAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
<TR>
<TD ALIGN=RIGHT><A HREF=../../cmsdb/servlet/RunSummary?RUN=234041&DB=default>234041</A>&nbsp;</TD>
<TD> &nbsp;</TD>
<TD>GLOBAL-RUN toppro&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/TriggerMode?KEY=l1_hlt_cosmicstest/v17>l1_hlt_cosmicstest/v17</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/L1Summary?RUN=234041&KEY=TSC_20150211_003135_TEST_BASE>TSC_20150211_003135_TEST_BASE</A>&nbsp;</TD>
<TD><A HREF=../../cmsdb/servlet/HLTSummary?RUN=234041&NAME=/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V4>/cdaq/special/LS1/CRUZET/HLT_CondDBV2/V4</A>&nbsp;</TD>
<TD>2015.02.12 08:57:49&nbsp;</TD>
<TD>2015.02.12 09:11:55&nbsp;</TD>
<TD ALIGN=RIGHT>168276&nbsp;</TD>
<TD>         0.038&nbsp;</TD>
<TD ALIGN=RIGHT>1&nbsp;</TD>
<TD>DAQ DT HCAL RPC SCAL TCDS TRACKER TRG&nbsp;</TD>
</TR>
</TBODY></TABLE>
