<html> <head> <title>CTP7 Data Quality Monitoring Page</title></head><body> 
<h1 style="color:purple; text-align:center;">Timing EM/Region Monitoring Details<br />  </h1>
<p>  Capture Summary Information:  <a href="capture.log">Capture log</a> </p>

<p>  Region Summary Information:    (<a href="index.html">back to general info</a>) </p>
<p>
<a href="RctRegionsMaxEtVsEvt.png" ><img src="RctRegionsMaxEtVsEvt.png" width="225"></a>
<a href="RctRegionsMaxEtVsEvt_zoom.png" ><img src="RctRegionsMaxEtVsEvt_zoom.png" width="225"></a>
<a href="RctRegionsMaxEtHFVsEvt.png" ><img src="RctRegionsMaxEtHFVsEvt.png" width="225"></a>
<a href="RctRegionsMaxEtBarrelVsEvt_zoom.png" ><img src="RctRegionsMaxEtBarrelVsEvt_zoom.png" width="225"></a>
<a href="RctRegionsMaxEtHFVsEvt_zoom.png" ><img src="RctRegionsMaxEtHFVsEvt_zoom.png" width="225"></a>
</p>

<p>
<a href="RctRegionsNonZeroVsEvt.png" ><img src="RctRegionsNonZeroVsEvt.png" width="225"></a>
<a href="RctRegionsNonZeroVsEvt_zoom.png" ><img src="RctRegionsNonZeroVsEvt_zoom.png" width="225"></a>
<a href="RctRegionsNonZeroHFVsEvt.png" ><img src="RctRegionsNonZeroHFVsEvt.png" width="225"></a>
<a href="RctRegionsNonZeroBarrelVsEvt_zoom.png" ><img src="RctRegionsNonZeroBarrelVsEvt_zoom.png" width="225"></a>
<a href="RctRegionsNonZeroHFVsEvt_zoom.png" ><img src="RctRegionsNonZeroHFVsEvt_zoom.png" width="225"></a>
</p>

<p>
<a href="RctRegionsEtMapVsEvt.png" ><img src="RctRegionsEtMapVsEvt.png" width="225"></a>
<a href="RctRegionsOccVsEvt.png" ><img src="RctRegionsOccVsEvt.png" width="225"></a>
<a href="RctRegionsHFPhiOccETVsEvt.png" ><img src="RctRegionsHFPhiOccETVsEvt.png" width="225"></a>
<a href="RctRegionsHFPhiOccETVsEvt_zoom.png" ><img src="RctRegionsHFPhiOccETVsEvt_zoom.png" width="225"></a>
</p>

<p>
<a href="RctRegionsNonZero.png" ><img src="RctRegionsNonZero.png" width="225"></a>
<a href="RctRegionsTotalRegionEt.png" ><img src="RctRegionsTotalRegionEt.png" width="225"></a>
<a href="RctRegionsAverageRegionEt.png" ><img src="RctRegionsAverageRegionEt.png" width="225"></a>
<a href="RctRegionsAvgEtVsEta.png" ><img src="RctRegionsAvgEtVsEta.png" width="225"></a>
<a href="RctRegionsAvgEtVsEvt.png" ><img src="RctRegionsAvgEtVsEvt.png" width="225"></a>
<a href="RctRegionsAvgEtVsEvt_zoom.png" ><img src="RctRegionsAvgEtVsEvt_zoom.png" width="225"></a>
<a href="RctRegionsTotEtVsEvt.png" ><img src="RctRegionsTotEtVsEvt.png" width="225"></a>
<a href="RctRegionsTotEtVsEvt_zoom.png" ><img src="RctRegionsTotEtVsEvt_zoom.png" width="225"></a>
</p>

<p>  EM Summary Information:    (<a href="index.html">back to general info</a>) </p>
<a href="RctEmIsoNonZeroVsEvt.png" ><img src="RctEmIsoNonZeroVsEvt.png" width="225"></a>
<a href="RctEmIsoAvgEtVsEta.png" ><img src="RctEmIsoAvgEtVsEta.png" width="225"></a>
<a href="RctEmIsoAvgEtVsEvt_zoom.png" ><img src="RctEmIsoAvgEtVsEvt_zoom.png" width="225"></a>
<a href="RctEmIsoMaxEtVsEvt.png" ><img src="RctEmIsoMaxEtVsEvt.png" width="225"></a>
<a href="RctEmIsoMaxEtVsEvt_zoom.png" ><img src="RctEmIsoMaxEtVsEvt_zoom.png" width="225"></a>
<a href="RctEmIsoTotEtVsEvt.png" ><img src="RctEmIsoTotEtVsEvt.png" width="225"></a>
<a href="RctEmIsoTotEtVsEvt_zoom.png" ><img src="RctEmIsoTotEtVsEvt_zoom.png" width="225"></a>
<a href="RctEmBx.png" ><img src="RctEmBx.png" width="225"></a>
</p>
</body></html>
